.navbar-brand {
  h1 {
    font-weight: 700;
    letter-spacing: 0.5px;
  }
}

.subscribe input[type="text"] {
  border: none;
  border-bottom: 1px solid white;
}
.subscribe input[type="text"]:focus {
  outline: none;
}
.subscribe ::placeholder {
  color: white;
}

.footer .contact ul svg {
  width: 40px;
  height: 40px;
}

.footer {
  .facebook {
    background-color: #1877f2;
  }
  .twitter {
    background-color: #1da1f2;
  }
  .linkedin {
    background-color: #0077b5;
  }
  .youtube {
    background-color: #ff0000;
  }
}
